.menu-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2%;
    border: 5%;
}

.menu-grid-item {
    background-color: rgb(209, 209, 209);
}
table, th, td {
	border: 1px solid;
}
td {
	text-align: center;
}
.admin-table {
	border-collapse: collapse;
}
