.menu {
    background-color: #ffffff;
    margin: 60px;
    padding: 10px 30px;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #7f9bbb;
    padding-bottom: 10px;
}

.menu-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
}

.menu-grid-item {
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
    text-align: center;
}

.menu-grid-item:hover {
    transform: scale(1.05);
}

.menu-grid-item img {
    max-width: 95%;
    max-height: 95%;
    display: block;
    margin: auto;
    padding-top: 6px;
  }

.menu-grid-item-name {
  padding: 8px;
  color: #ffffff;
}

table, th, td {
	border: 1px solid black;
	padding-left: 0.1vw;
	padding-right: 0.1vw;
}

.admin-table {
	text-align: center;
	width: 100%;
	margin-left: 0.03vw;
	margin-right: auto;
	max-width: 99.97vw;
	border-collapse: collapse;
	font-family: sans-serif;
	box-shadow: 0vw 0vw 0.2vw #00000040;
}
.admin-table form {
	margin: auto;
}
.admin-table thead tr {
	background-color: #7f9bbb;
	text-align: center;
}

.admin-table th td {
	padding: 1vw;
}

.admin-table tbody tr:hover {
	background-color: #9fbbdb;
	color: #232323;
	transition: 0.2s;
}

.sub-admin-table thead tr:hover {
	background-color: #7f9bbb;
	color: #232323;
}
